.vagrant

*.log
*.pyc
*.sqlite3

.vs/
*.sln

Gemfile.lock
log/*
.bundle
**/.DS_Store

frontend/.project
frontend/node_modules/*
frontend/*.log
frontend/test/reports/*

api/tmp/*
api/logs/*
api/test-result/*
api/*.log

/frontend/nbproject/private/