.vagrant

*.log
*.pyc
*.sqlite3

Gemfile.lock
log/*
.bundle
**/.DS_Store

*.sln
.vs/

frontend/.project
frontend/node_modules/*
frontend/*.log
frontend/test/reports/*

api/tmp/*
api/logs/*
api/test-result/*
api/*.log

/frontend/nbproject/private/